<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GCC Unit Tests</title>
    <base target="_top">
    <?!= GccPage.include('Htmlified/Qunit.css'); ?>
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <?!= GccPage.include('Htmlified/Dtrt-string-utils.js'); ?>
    <?!= GccPage.include('Htmlified/Dtrt-type-validate.js'); ?>
    <?!= GccPage.include('Htmlified/Qunit.js'); ?>
    <?!= GccPage.include('Htmlified/Sinon.js'); ?>
    <?!= GccPage.include('Htmlified/GccCache.js'); ?>
    <?!= GccPage.include('Htmlified/GccCollection.js'); ?>
    <?!= GccPage.include('Htmlified/GccColor.js'); ?>
    <?!= GccPage.include('Htmlified/GccContainer.js'); ?>
    <?!= GccPage.include('Htmlified/GccEnv.js'); ?>
    <?!= GccPage.include('Htmlified/GccPage.js'); ?>
    <?!= GccPage.include('Htmlified/GccRun.js'); ?>
    <?!= GccPage.include('Htmlified/GccRunGroup.js'); ?>
    <?!= GccPage.include('Htmlified/GccSheet.js'); ?>
    <?!= GccPage.include('Htmlified/GccUi.js'); ?>
    <?!= GccPage.include('Htmlified/GccUiCollection.js'); ?>
    <?!= GccPage.include('Htmlified/GccUiCss.js'); ?>
    <?!= GccPage.include('Htmlified/GccUiDialog.js'); ?>
    <?!= GccPage.include('Htmlified/GccUiLoader.js'); ?>
    <?!= GccPage.include('Htmlified/GccUiRun.js'); ?>
    <?!= GccPage.include('Htmlified/GccUiRunForm.js'); ?>
    <?!= GccPage.include('Htmlified/GccUiSelectDisclosure.js'); ?>
    <?!= GccPage.include('Htmlified/GccUiSelectForm.js'); ?>
    <?!= GccPage.include('Htmlified/GccUser.js'); ?>
    <?!= GccPage.include('Htmlified/GccTest.js'); ?>
    <?!= GccPage.include('Htmlified/GccUtils.js'); ?>
    <?!= GccPage.include('Htmlified/Config.js'); ?>
    <?!= GccPage.include('Htmlified/Main.js'); ?>
    <?!= GccPage.include('Htmlified/Middleware.js'); ?>
    <?!= GccPage.include('Scripts/InitUnitTests.js', {
      tplAppConfig,
    }); ?>
  </body>
</html>
