<!-- start dialog-->
<div role="dialog" class="dialog dialog-dark" id="dialog-developer" aria-labelledby="dialog-developer-label" aria-modal="true" data-trigger="" hidden>
  <div class="dialog-start dialog-tabtrap" tabindex="0"></div>
  <div class="dialog-header wrapper grid grid-dialog-header">
    <h2 class="brand-heading" id="dialog-developer-label">
      <abbr title="Developer">Dev</abbr>
      <span>tools</span>
    </h2>
    <button class="dialog-button dialog-close smaller">Close</button>
  </div>
  <div class="dialog-body wrapper">
    <fieldset>
      <legend>
        <div class="dialog-heading small">Admin functions</div>
      </legend>
      <div class="dialog-button-wrapper">
        <button class="dialog-button smaller loader grid-inline grid-dialog-button-inline" id="cache-log" data-is-loading="false">
          <div class="loader-title">Log cache</div>
          <div class="loader-icon">
            <div class="is-loading">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="is-loading-error"></div>
            <div class="is-loading-complete"></div>
          </div>
        </button>
      </div>
      <div class="dialog-button-wrapper">
        <button class="dialog-button smaller loader grid-inline grid-dialog-button-inline" id="cache-clear" data-is-loading="false">
          <div class="loader-title">Clear cache</div>
          <div class="loader-icon">
            <div class="is-loading">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="is-loading-error"></div>
            <div class="is-loading-complete"></div>
          </div>
        </button>
      </div>
      <div class="dialog-button-wrapper">
        <button class="dialog-button smaller loader grid-inline grid-dialog-button-inline" id="date-validation-update" data-is-loading="false">
          <div class="loader-title">Refresh collection inputs</div>
          <div class="loader-icon">
            <div class="is-loading">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="is-loading-error"></div>
            <div class="is-loading-complete"></div>
          </div>
        </button>
      </div>
    </fieldset>
    <h3 class="hidden-assistive">Console</h3>
    <div id="dialog-console"></div>
  </div>
  <div class="dialog-end dialog-tabtrap" tabindex="0"></div>
</div>
<!-- end dialog -->
