<!-- start dialog-->
<div role="dialog" class="dialog dialog-light" id="dialog-version-history" aria-labelledby="dialog-version-history-label" aria-modal="true" data-trigger="" hidden>
  <div class="dialog-start dialog-tabtrap" tabindex="0"></div>
  <div class="dialog-header wrapper grid grid-dialog-header">
    <h2 class="brand-heading" id="dialog-version-history-label">
      <span>Version</span>
      <span>History</span>
    </h2>
    <button class="dialog-button dialog-close smaller">Close</button>
  </div>
  <div class="dialog-body wrapper">
    <?!= tplVersionHistory ?>
  </div>
  <div class="dialog-end dialog-tabtrap" tabindex="0"></div>
</div>
<!-- end dialog -->
